@use 'vendor/normalize';


/**
 * outline on focus selector remove the dotted border on button 
 * padding will stop the movement of text when button is clicked
 */
.btn {
	display : inline-block;
	text-align : center;
	text-decoration : none;
	user-select : none;
	border : 0;
	background-color : cyan;
	padding : 16px;

	&:focus{
		outline : none;
	}

	&:active {
		border : 1px solid red;
	}

}


.red {
	color: black;
	line-height : 200px;
}
