/**
 * outline on focus selector remove the dotted border on button 
 * padding will stop the movement of text when button is clicked
 */

// import theme variables from _theme.scss

%focus-on {
	&:focus {
		outline : none;
		border : 1px solid yellow;
	}
}

%focus-off {
	&:focus {
		border : 2px dotted blue;
	}
}

$focus : '%focus-off';

/**
* Round button : get border-radius from function 
* * if round-button is true then use 4px
* * if round-button is some value then use that value for border radius
* * if round-button is not given do not invoke function, don't include border-radius
*/

@mixin button-flat($bg-color:transparent, $round-button:'') {
	display : inline-block;
	text-align : center;
	text-decoration : none;
	border : 1px solid purple;
	background-color : $bg-color;
	padding : 16px;

	@extend #{$focus};
}


@mixin generateFlatButton($class-name:'flat-btn', $bg-color:transparent) {

   .#{$class-name} {
        @include button-flat($bg-color: $bg-color);
    }
}




/*

Find the way to handle nested elements component generation

serve.generateFlatButton( $primary-color: red, $effect : '%focus-on'

.btn {
	display : inline-block;
	text-align : center;
	text-decoration : none;
	user-select : none;
	border : 1px solid blue;
	background-color : transparent;
	padding : 16px;

	&:focus{
		outline : none;
	}

	&:active {
		border : 1px solid red;
	}

}


.red {
	color: black;
	line-height : 200px;
}
*/
